.btn-populateFilm {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
  color: #000000;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid #FF6B08;
  border-radius: 10px;
  background-color: #F7F7F7;

  transition: transform 200ms linear;
}

.btn-populateFilm:focus,
.btn-populateFilm:hover {
  transform: scale(1.05);
  background-color: #FF6B08;
  color: #ffffff;
}