.gallery__container {
  flex: 1 0 auto;
}

.gallery {
  margin: 20px 0;
  min-height: 75vh;

  @include tablet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 44px -16px;
  }

  @include desktop {
    justify-content: flex-start;
    margin-left: -8px;
    margin-right: -8px;
  }
}

.filmCard {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;

  @include tablet {
    flex-basis: 336px;
    margin: 16px;
  }

  @include desktop {
    flex-basis: 394px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    line-height: 24px;
  }
}

.filmCard__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow 200ms linear, transform 200ms linear;

  @include tablet {
    min-height: 504px;
  }

  @include desktop {
    min-height: 591px;
  }

  &:hover,
  &:focus {
    border-radius: 5px;
    transform: scale(1.03);
    box-shadow: 5px 6px 5px 0px #c6c6c6;
  }
}

.filmCard-title {
  margin-top: 10px;
  text-transform: uppercase;
  color: $color--default-text;
}

.filmCard-description {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  color: $color--accent-orange-text;
  align-items: center;
}

.filmCard-genres,
.filmCard-release {
  margin-right: 5px;
}

.filmCard-release {
  &::before {
    display: inline-block;
    content: '|';
    margin-right: 5px;
  }
}

.filmCard-rating {
  padding: 0px 6px;
  background-color: $color--accent-orange;
  color: $color--accent-text;
  border-radius: 5px;

  @include desktop {
    padding: 3px 11px;
  }
}

.test__btn {
  display: flex;
  justify-content: space-around;
}
