.header {
  background: $color--default-text
    url('../images/background/mobile/main-1x.png') 0 0 / cover no-repeat;
  height: 230px;
  @include x2 {
    background: $color--default-text
      url('../images/background/mobile/main-2x.png') 0 0 / cover no-repeat;
  }
  @include x3 {
    background: $color--default-text
      url('../images/background/mobile/main-3x.png') 0 0 / cover no-repeat;
  }
  @include tablet {
    background: $color--default-text
      url('../images/background/tablet/main-1x.png') 0 0 / cover no-repeat;
    height: 216px;
    @include x2 {
      background: $color--default-text
        url('../images/background/tablet/main-2x.png') 0 0 / cover no-repeat;
    }
    @include x3 {
      background: $color--default-text
        url('../images/background/tablet/main-3x.png') 0 0 / cover no-repeat;
    }
  }
  @include desktop {
    background: $color--default-text
      url('../images/background/desktop/main-1x.png') 0 0 / cover no-repeat;
    height: 216px;
    @include x2 {
      background: $color--default-text
        url('../images/background/desktop/main-2x.png') 0 0 / cover no-repeat;
    }
    @include x3 {
      background: $color--default-text
        url('../images/background/desktop/main-3x.png') 0 0 / cover no-repeat;
    }
  }
}
.header-container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-inner {
  display: flex;
  align-items: center;
}
.logo-text {
  margin-left: 10px;
  font-size: 30px;

  display: none;

  color: $color--accent-text;
  @include tablet {
    display: inline-block;
  }
}
.icon-film {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: $color--accent-text;
}
.header-nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    color: $color--accent-text;
    font-size: 12px;
  }
  &__item {
    position: relative;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  .current {
    &::before {
      position: absolute;
      top: 14px;
      left: 0;
      width: 100%;
      height: 3px;
      content: '';

      background-color: #ff001b;
    }
  }
}
.search-bar {
  //   margin-top: 60px;
  max-width: 370px;
  margin: 60px auto 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid $color--background;

  input {
    background: transparent;
    flex: 1;
    outline: none;
    border: 0;
    font-size: 14px;
    color: $color--accent-text;
  }
  ::placeholder {
    color: $color--background;
  }
}
.search-btn {
  border: 0;
  width: 22px;
  height: 22px;
  background: transparent;
}
.search-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  fill: $color--background;
}
.input-error {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
  color: $color--error-text;
}
// hiden text error
.hide {
  display: none;
}
a {
  text-decoration: none;
  color: currentColor;
}

.header-lib {
  background: $color--default-text
    url('../images/background/mobile/media-1x.png') 0 0 / cover no-repeat;

  height: 230px;
  @include x2 {
    background: $color--default-text
      url('../images/background/mobile/media-2x.png') 0 0 / cover no-repeat;
  }
  @include x3 {
    background: $color--default-text
      url('../images/background/mobile/media-3x.png') 0 0 / cover no-repeat;
  }
  @include tablet {
    background: $color--default-text
      url('../images/background/tablet/media-1x.png') 0 0 / cover no-repeat;
    height: 216px;
    @include x2 {
      background: $color--default-text
        url('../images/background/tablet/media-2x.png') 0 0 / cover no-repeat;
    }
    @include x3 {
      background: $color--default-text
        url('../images/background/tablet/media-3x.png') 0 0 / cover no-repeat;
    }
  }
  @include desktop {
    background: $color--default-text
      url('../images/background/desktop/media-1x.png') 0 0 / cover no-repeat;
    height: 216px;
    @include x2 {
      background: $color--default-text
        url('../images/background/desktop/media-2x.png') 0 0 / cover no-repeat;
    }
    @include x3 {
      background: $color--default-text
        url('../images/background/desktop/media-3x.png') 0 0 / cover no-repeat;
    }
  }
}
.header-btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  @include tablet {
    margin-top: 50px;
  }
}
.btn-lib {
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }
}
