.modal {
  display: none;
  opacity: 0;
  pointer-events: none;

  margin: 0;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  // transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.25);

  @include tablet {
    padding: 32px;
  }

  &__container {
    position: relative;
    width: 100%;
    min-height: 350px;

    background-color: #ed7840;

    // background-image:
    // url(../images/background/pages/team.jpg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.15);

    @include tablet {
      margin-left: auto;
      margin-right: auto;
    }

    @include desktop {
      width: 100%;
      max-width: 1180px;
    }
  }

  &__title {
    @include font(inherit, 15, 1.15, 0.03em, $color--accent-text);
    @include tablet {
      @include font(inherit, 25, 1.15, 0.03em, $color--accent-text);
    }
    margin: 10px auto 10px;
    text-align: center;
    font-family: Seravek;
  }
}

.modal.is-open {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: $color--background;
  border: 0px solid $color--grey-text;
  outline: none;
  cursor: pointer;
  transition: box-shadow $animation--duration $animation--curve;

  &:hover,
  &:focus {
    box-shadow: inset -2px -2px 2px 1px rgba(0, 0, 0, 0.15),
      inset 1px 1px 2px 1px rgba(0, 0, 0, 0.05),
      2px 2px 3px 2px rgba(0, 0, 0, 0.15);
    color: $color--accent-orange;
  }

  &-icon {
    color: $color--default-text;
    &:hover,
    &:focus {
      color: $color--accent-orange;
    }
  }
}

.developer {
  &__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    overflow: hidden;
    transform: scale(1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: scale(2);
    }
  }
  &__title {
    @include font(inherit, 8, 1.15, 0.03em, #333);
    font-family: Seravek;
    padding: 1px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #ffffffbd;
    width: 100%;
    @include tablet {
      @include font(inherit, 16, 1.15, 0.03em, #333);
    }
  }
  &__picture {
    // border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
  }
}

.developer__grid {
  z-index: 100;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding: 20px;

  @include tablet {
    padding: 50px;
  }

  @include desktop {
    padding: 70px;
  }

  &-item {
    &:nth-child(1) {
      grid-column: 1 / span 4;
      grid-row: 9 / span 4;
    }
    &:nth-child(2) {
      grid-column: 9 / span 4;
      grid-row: 1 / span 4;
    }
    &:nth-child(3) {
      grid-column: 3 / span 4;
      grid-row: 3 / span 4;
    }
    &:nth-child(4) {
      grid-column: 15 / span 4;
      grid-row: 3 / span 4;
    }
    &:nth-child(5) {
      grid-column: 3 / span 4;
      grid-row: 15 / span 4;
    }
    &:nth-child(6) {
      grid-column: 15 / span 4;
      grid-row: 15 / span 4;
    }
    &:nth-child(7) {
      grid-column: 9 / span 4;
      grid-row: 17 / span 4;
    }
    &:nth-child(8) {
      grid-column: 17 / span 4;
      grid-row: 9 / span 4;
    }
    &:nth-child(9) {
      grid-column: 10 / span 2;
      grid-row: 13 / span 2;
    }
    &:nth-child(10) {
      grid-column: 7 / span 8;
      grid-row: 9 / span 3;
    }
    &:nth-child(11) {
      grid-column: 10 / span 6;
      grid-row: 12 / span 1;
    }
    &:nth-child(12) {
      grid-column: 6 / span 10;
      grid-row: 9 / span 3;
    }
  }
}

.reel__wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.reel-inside {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #f8f0ea;
  border-radius: 50%;
  top: 25%;
  left: 25%;
  z-index: 10;
}

.reel-white {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $color--background;
  border-radius: 50%;
}


.logo__team {

  z-index: 20;
  font-family: Seravek;
  @include font(800, 20, 1.15, 0.03em, #ae3013);

  @include tablet {
  @include font(800, 30, 1.15, 0.03em, #ae3013);
    }
  @include desktop {
  @include font(800, 40, 1.15, 0.03em, #ae3013);
  }
}

.developer__text {
  font-family: Seravek;
  // position: absolute;
  // top: 92%;
  // left: 50%;
  // min-width: 500px;
  // height: 300px;
  // transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  align-content: center;
  @include font(800, 12, 1.15, 0.03em, $color--default-text);
  @include tablet {
      top: 60%;
      @include font(800, 25, 1.15, 0.03em, $color--default-text);
    }
  @include desktop {
  @include font(800, 40, 1.15, 0.03em, $color--default-text);
  // top: 55%;
    }
}

.play-btn {
  //     position: absolute;
  //   width: 30%;
  //   top: 100%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  cursor: pointer;
}

.animation {
  transform: scale(2);
}
