div.rotating-button__wrapper {    // set size of the button here
	position: relative;

	min-width: 200px;
	height: 50px;

  @include tablet {
    width: 300px;
	height: 50px;
  }
	.rotating-button__checkbox {  // hide the checkbox for production
	position: absolute;
	bottom: -30px;
    left: 0;
	opacity: 0;
	}

	.rotating-button__button-on,
	.rotating-button__button-off {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		width: 100%;
		height: 100%;

		border-radius: 1em;      // set shadow and border for the button here
		box-shadow:              // set shadow and border for the button here
      0 0.125em 0.3125em rgba(0, 0, 0, 0.25), 
      0 0.02125em 0.06125em rgba(0, 0, 0, 0.25);

		transform-origin: center;
		transition: transform 200ms linear;
	}

// set background and colors for the button here
	.rotating-button__button-off {
		background-color: $color--accent-orange;
        text-transform: uppercase;
        text-align: center;
        @include font(inherit, 12, 1.33, 0.03em, $color--accent-text);     
		transform: rotateX(-90deg) translateZ(25px);
	}

// set background and colors for the button here
	.rotating-button__button-on {
		background-color: $color--background;
		text-transform: uppercase;
		text-align: center;     
		@include font(inherit, 12, 1.33, 0.03em, $color--default-text); 
		transform: rotateX(0deg) translateZ(25px);
	}

	&:hover {
		.rotating-button__button-off {transform: scale(1.05) rotateX(-90deg) translateZ(25px);}
		.rotating-button__button-on {transform: scale(1.05) rotateX(0deg) translateZ(25px);}

		& input:checked {
			& ~ .rotating-button__button-on {transform: scale(1.05) rotateX(90deg) translateZ(25px);}
			& ~ .rotating-button__button-off {transform: scale(1.05) rotateX(0deg) translateZ(25px);}
		}
	}

	& input:checked {
		& ~ .rotating-button__button-on {transform: rotateX(90deg) translateZ(25px);}
		& ~ .rotating-button__button-off {transform: rotateX(0deg) translateZ(25px);}
	}
}

.rotating-button__wrapper:not(:last-child) {
	margin-bottom: 8px;
}