.scroll-top {
	display: flex;
	justify-self: center;
	align-items: center;
	padding: 10px;

	position: fixed;
	z-index: 5;

	bottom: 110px;
	right: 10px;

	@include tablet {
		bottom: 90px;
	}

	border: 1px solid rgb(176, 174, 174);
	border-radius: 50%;

	background-color: rgba(255, 255, 255, 0.4);
	color: rgb(176, 174, 174);
	cursor: pointer;

	opacity: 0;
	overflow: hidden;

	transition: opacity $animation, overflow $animation;

	&.visible {
		opacity: 1;
		overflow: visible;
	}
}

.scroll-top:hover,
.scroll-top:focus {
	color: $color--accent-orange;
	border: 1px solid $color--accent-orange;
}

.scroll-top__icon {
	fill: currentColor;
	width: 20px;
	height: 20px;
	transform: rotate(-90deg);
}
