@import './util/variables';
@import './util/common';
@import './util/mixins';
@import './util/container';
@import './util/button';
@import './util/resets';

@import './header';
@import './film-list';
@import './footer';
@import './pagination';
@import './loader';
@import './modal-dev';
@import './modal-main';
// @import './watched';
