@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
