// main style dark beige:         #ab816c, rgb(171, 129, 108)
// main style medium beige:       #fef3e4, rgb(254, 243, 228)
// main style light beige:        #fffff9, rgb(255, 255, 249)
// main style text-black;         #2e2520, rgb(46,  37,  32)

$outline: 1px solid tomato;

$color--accent-orange: #FF6B01;
$color--selected-page: #FF001B;

$color--accent-orange-text: #FF6B08;
$color--error-text: #FF001B;
$color--default-text: #000000;
$color--grey-text: #8C8C8C;
$color--accent-text: #FFFFFF;

$color--background: #FFFFFF;
$color--grey-background: #F7F7F7;

$animation--duration: 200ms;
$animation--curve: linear;

$breakpoints: (
  'mobile-sm': 320px,
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1280px,
);
