<div id="modal-dev" class="modal" aria-hidden="true" data-micromodal-close>
  <!-- [2] -->
  <div tabindex="-1">
    <!-- [3] -->
    <div
      role="dialog"
      class="modal__container"
      aria-modal="true"
      aria-labelledby="modal-dev-title"
    >
      <header>
        <h2 id="modal-dev-title" class="developer__title">
          We worked on this site:
        </h2>

        <!-- [4] -->
        <button
          type="button"
          class="modal__close-button"
          aria-label="Close modal"
          data-micromodal-close
        >
          <svg
            width="14"
            height="14"
            class="modal__close-icon"
            data-micromodal-close
          >
            <use href="./images/sprites.svg#close"></use>
          </svg>
        </button>
      </header>

      <div id="modal-dev-content">
        <ul class="developer__list">
          <li class="developer">
            <img
              src="./images/developers/img1.jpg"
              alt="Vladislav Pysarenko"
              class="developer__picture"
            />
            <p class="developer__name">Vladislav Pysarenko</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img2.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img3.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img4.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img5.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img6.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img7.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img8.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
          <li class="developer">
            <img
              src="./images/developers/img9.jpg"
              alt="name"
              class="developer__picture"
            />
            <p class="developer__name">Firstname Lastname</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
