<header class="header">
  <div class="container header-container">
    <svg class="icon-film" class="icon-film">
      <use href="./images/sprites.svg#film"></use>
    </svg>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item current">Home</li>
        <li class="header-nav__item">my library</li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <form action="" class="search-bar">
      <input type="search" name="search" placeholder="Movie search" required />
      <button class="search-btn" type="submit">
        <svg class="icon-search">
          <use href="./images/sprites.svg#search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
