<section class="developer" id="team">
  <div
    id="modal-dev"
    class="modal modal-dev"
    aria-hidden="true"
    data-mymodal-close
  >
    <div
      role="dialog"
      class="modal__container modal-dev__container"
      aria-modal="true"
      aria-labelledby="modal-dev-title"
    >
      <header>
        <h2 id="modal-dev-title" class="modal__title">
          We worked on this site:
        </h2>
        <button
          type="button"
          class="modal__close-button"
          aria-label="Close modal"
          data-mymodal-close
        >
          <svg
            width="14"
            height="14"
            class="modal__close-icon"
            data-mymodal-close
          >
            <use data-mymodal-close href="./images/sprites.svg#close"></use>
          </svg>
        </button>
      </header>
      <div class="grid">
        <div class="reel__wrap">
          <ul class="developer__grid">
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/vlad.jpg"
                  alt="Vladislav Pysarenko"
                  class="developer__picture"/>
                <h3 class="developer__title">Vladislav Pysarenko</h3>  
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/rostik.jpg"
                  alt="Rostyslav Marchenko"
                  class="developer__picture"
                />
                <h3 class="developer__title">Rostyslav Marchenko</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/vitaliy.jpg"
                  alt="Vitaliy Senyura"
                  class="developer__picture"
                />
                <h3 class="developer__title">Vitaliy Senyura</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/marka.jpg"
                  alt="Nazina Marina"
                  class="developer__picture"
                />
                <h3 class="developer__title">Nazina Marina</h3>
              </div>
            </li>   
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/sergei.jpg"
                  alt="Sergei Bukiy"
                  class="developer__picture"
                />
                <h3 class="developer__title">Sergei Bukiy</h3>
              </div>
            </li> 
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/roman.jpg"
                  alt="Roman Valko"
                  class="developer__picture"
                />
                <h3 class="developer__title">Roman Valko</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/stefan.jpg"
                  alt="Stefan Dunikovskyi"
                  class="developer__picture"
                />
                <h3 class="developer__title">Stefan Dunikovskyi</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap">
                <img
                  src="./images/developers/darya.jpg"
                  alt="Dariya Grigorova"
                  class="developer__picture"
                />
                <h3 class="developer__title">Dariya Grigorova</h3>
              </div>
            </li>
          </ul>
          <div class="reel-inside"></div> 
          <div class="reel-white"></div>
      </div> 
    </div>
  </div>
</section>

