<section class="developer" id="team">
  <div id="modal-dev" class="modal modal-dev" aria-hidden="true" data-mymodal-close>
    <div role="dialog" class="modal__container modal-dev__container" aria-modal="true" aria-labelledby="modal-dev-title">
      <div>
        <h2 id="modal-dev-title" class="modal__title">We worked on this site:</h2>
        <button type="button" class="modal__close-button" aria-label="Close modal" data-mymodal-close>
          <svg width="14" height="14" class="modal__close-icon" data-mymodal-close><use data-mymodal-close href="./images/sprites.svg#close"></use></svg>
        </button>
      </div>
      <div class="grid">
        <div class="reel__wrap">
          <ul class="developer__grid">
            <li class="developer__grid-item">
              <div class="developer__img-wrap" data-play="1" data-devName="Vladislav">
                <img 
                  srcset="
                    ./images/developers/280/vlad.jpg 280w,
                    ./images/developers/560/vlad.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/vlad.jpg" 
                  alt="Vladislav Pysarenko" 
                  class="developer__picture" 
                  data-name="Vladislav"/>
                <h3 class="developer__title">Vladislav Pysarenko</h3>  
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap" data-play="3" data-devName="Rostyslav">
                <img
                  srcset="
                    ./images/developers/280/rostik.jpg 280w,
                    ./images/developers/560/rostik.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/rostik.jpg" 
                  alt="Rostyslav Marchenko" 
                  class="developer__picture" 
                  data-name="Rostyslav" />
                <h3 class="developer__title">Rostyslav Marchenko</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap"  data-play="2" data-devName="Vitaliy">
                <img
                  srcset="
                    ./images/developers/280/vitaliy.jpg 280w,
                    ./images/developers/560/vitaliy.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/vitaliy.jpg" 
                  alt="Vitaliy Senyura" 
                  class="developer__picture" 
                  data-name="Vitaliy" />
                <h3 class="developer__title">Vitaliy Senyura</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap" data-play="4" data-devName="Marina">
                <img
                  srcset="
                    ./images/developers/280/marka.jpg 280w,
                    ./images/developers/560/marka.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/marka.jpg" 
                  alt="Marina Nazina" 
                  class="developer__picture" 
                  data-name="Marina" />
                <h3 class="developer__title">Marina Nazina</h3>
              </div>
            </li>   
            <li class="developer__grid-item">
              <div class="developer__img-wrap" data-play="8" data-devName="Sergei">
                <img
                  srcset="
                    ./images/developers/280/sergei.jpg 280w,
                    ./images/developers/560/sergei.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/sergei.jpg" 
                  alt="Sergei Bukiy" 
                  class="developer__picture" 
                  data-name="Sergei" />
                <h3 class="developer__title">Sergei Bukiy</h3>
              </div>
            </li> 
            <li class="developer__grid-item">
              <div class="developer__img-wrap" data-play="6" data-devName="Roman">
                <img
                  srcset="
                    ./images/developers/280/roman.jpg 280w,
                    ./images/developers/560/roman.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/roman.jpg" 
                  alt="Roman Valko" 
                  class="developer__picture" 
                  data-name="Roman" />
                <h3 class="developer__title">Roman Valko</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap" data-play="7" data-devName="Stefan">
                <img
                  srcset="
                    ./images/developers/280/stefan.jpg 280w,
                    ./images/developers/560/stefan.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/stefan.jpg" 
                  alt="Stefan Dunikovskyi" 
                  class="developer__picture" 
                  data-name="Stefan" />
                <h3 class="developer__title">Stefan Dunikovskyi</h3>
              </div>
            </li>
            <li class="developer__grid-item">
              <div class="developer__img-wrap" data-play="5" data-devName="Dariya">
                <img
                  srcset="
                    ./images/developers/280/darya.jpg 280w,
                    ./images/developers/560/darya.jpg 560w"
                  sizes="
                    (max-width: 320px) 100px,
                    (max-width: 768px) 250px,
                    280px"
                  src="./images/developers/280/darya.jpg" 
                  alt="Dariya Grigorova" 
                  class="developer__picture" 
                  data-name="Dariya" />
                <h3 class="developer__title">Dariya Grigorova</h3>
              </div>
            </li>
            <li class="developer__grid-item"><img src="./images/background/pages/play.png" alt="play btn" width="150" class="play-btn" data-name='run' /></li>
            <li class="developer__grid-item description__goit"><img src="./images/background/pages/logo-goit.png" alt="logo goit" class="logo__goit" /></li>
            <li class="developer__grid-item description__team"><h3 class="logo__team">Team-09</h3></li>
            <li class="developer__grid-item"><div class="developer__text visually-hidden"></div></li>
          </ul>
          <div class="reel-inside"></div> 
          <div class="reel-white"></div>      
      </div> 
    </div>
  </div>
</section>

